In [1]:
import pandas as pd

### Function to fill in random blanks

In [27]:
def check_for_null(zipcode:list) -> list:
    return [zipcode[x] if zipcode[x] else zipcode[x-1] for x in range(len(zipcode))]

### Function to calculate percentage change

In [48]:
def percent_change(zipcode:list) -> list:
    new_list =[0,]
    for x in range(1, len(zipcode)): 
        new_list.append(round((100*(float(zipcode[x])-float(zipcode[x-1]))/float(zipcode[x-1])), 2))
    return new_list

# Zestimates

In [ ]:
df_zestimates = pd.read_csv("Resources/zestimates_over_time.csv")
df_zestimates

In [45]:
# Rename the Date column
df_zestimates.rename(columns ={"Unnamed: 0": "Date"}, inplace= True)

# Grab the date column and store it
dates = df_zestimates["Date"]

In [44]:
# Get a list of the columns for the zestimates
columns_zest = df_zestimates.columns

Index(['Date', '78739', '78748', '78749', '78745', '78744', '78735', '78704',
       '78741', '78733', '78746', '78703', '78701', '78702', '78721', '78705',
       '78722', '78723', '78751', '78754', '78731', '78730', '78732', '78726',
       '78750', '78759', '78757', '78752', '78724', '78753', '78758', '78717',
       '78729', '78727', '78728'],
      dtype='object')

In [50]:
zestimate_changes = {
    x: percent_change(df_zestimates[x]) for x in columns_zest[1:]
}

In [54]:
df_zestimate_changes = pd.DataFrame(zestimate_changes)
df_zestimate_changes.set_index(dates, inplace = True)

In [55]:
df_zestimate_changes

,78739,78748,78749,78745,78744,78735,78704,78741,78733,78746,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2000-02-29,0.24,0.26,-0.18,-0.09,0.40,0.06,1.50,0.50,-0.03,0.58,...,0.43,NaN,2.54,-0.03,0.25,0.28,NaN,-0.20,0.34,0.16
2000-03-31,0.13,0.44,-0.19,0.62,0.44,-0.01,1.84,0.31,0.14,0.88,...,0.54,NaN,2.41,0.10,0.15,0.36,NaN,0.04,0.55,0.14
2000-04-30,0.34,0.75,-0.32,0.60,0.67,0.43,2.56,0.49,0.36,1.52,...,0.77,NaN,3.39,-0.05,0.46,0.77,NaN,0.32,0.66,0.29
2000-05-31,-0.10,0.75,-0.29,0.39,0.59,0.48,2.76,0.22,0.11,1.46,...,0.55,NaN,2.33,-0.01,0.44,0.67,NaN,0.39,0.34,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30,-1.08,-1.03,-0.93,-1.05,-1.14,-1.54,-1.30,-1.48,-1.92,-1.77,...,-1.04,-1.35,-1.90,-1.52,-0.89,-1.00,-1.15,-1.35,-0.98,-1.11
2022-10-31,-0.80,-0.97,-0.68,-1.09,-1.27,-1.26,-1.42,-1.44,-1.79,-1.65,...,-0.88,-1.32,-1.65,-1.59,-0.81,-1.01,-0.92,-1.20,-0.80,-0.94
2022-11-30,-0.59,-1.06,-0.61,-1.09,-1.40,-1.00,-1.08,-1.33,-1.29,-0.74,...,-0.76,-1.11,-1.37,-1.48,-0.96,-1.02,-0.79,-1.24,-0.79,-0.94
2022-12-31,-0.63,-1.26,-0.84,-1.20,-1.66,-1.04,-0.86,-1.57,-1.01,-0.03,...,-0.89,-1.20,-1.40,-1.77,-1.29,-1.28,-0.85,-1.40,-0.99,-1.12
2023-01-31,-0.69,-1.28,-0.85,-1.02,-1.67,-1.35,-0.79,-1.58,-0.89,0.40,...,-0.81,-1.00,-1.17,-1.40,-1.25,-1.18,-0.56,-1.12,-0.91,-1.08

# Rentals