In [6]:
import pandas as pd

### Function to fill in random blanks

In [3]:
# If there is a null value, then take in the previous value
# After data starts, then if it hits a null value, it will replace the null value with the previous value
def check_for_null(zipcode:list) -> list:
    new_list= []
    counter = 0
    for x in range(len(zipcode)):
        if not counter:
            new_list.append(zipcode[x])
            if zipcode[x]:
                counter =1 
        else: 
            new_list.append(zipcode[x]) if zipcode[x] else new_list.append(zipcode[x-1])
    return new_list

In [4]:
#Check to ensure function works as designed 
zip = [0,0,0,6,8,4,8,0,3,5,4]
check_for_null(zip)

[0, 0, 0, 6, 8, 4, 8, 8, 3, 5, 4]

### Function to calculate percentage change

In [11]:
# Put 0 as a placeholder for the first date. 
# Calculate the percentage change in the rate since the previous date 
def percent_change(zipcode:list) -> list:
    new_list =[0,]
    for x in range(1, len(zipcode)): 
        new_list.append(round((100*(float(zipcode[x])-float(zipcode[x-1]))/float(zipcode[x-1])), 2))
    return new_list

# Zestimates

In [ ]:
df_zestimates = pd.read_csv("Resources/zestimates_over_time.csv")
df_zestimates

In [45]:
# Rename the Date column
df_zestimates.rename(columns ={"Unnamed: 0": "Date"}, inplace= True)

# Grab the date column and store it
dates = df_zestimates["Date"]

In [44]:
# Get a list of the columns for the zestimates
columns_zest = df_zestimates.columns

Index(['Date', '78739', '78748', '78749', '78745', '78744', '78735', '78704',
       '78741', '78733', '78746', '78703', '78701', '78702', '78721', '78705',
       '78722', '78723', '78751', '78754', '78731', '78730', '78732', '78726',
       '78750', '78759', '78757', '78752', '78724', '78753', '78758', '78717',
       '78729', '78727', '78728'],
      dtype='object')

In [50]:
zestimate_changes = {
    x: percent_change(df_zestimates[x]) for x in columns_zest[1:]
}

In [54]:
df_zestimate_changes = pd.DataFrame(zestimate_changes)
df_zestimate_changes.set_index(dates, inplace = True)

In [55]:
df_zestimate_changes

,78739,78748,78749,78745,78744,78735,78704,78741,78733,78746,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2000-02-29,0.24,0.26,-0.18,-0.09,0.40,0.06,1.50,0.50,-0.03,0.58,...,0.43,NaN,2.54,-0.03,0.25,0.28,NaN,-0.20,0.34,0.16
2000-03-31,0.13,0.44,-0.19,0.62,0.44,-0.01,1.84,0.31,0.14,0.88,...,0.54,NaN,2.41,0.10,0.15,0.36,NaN,0.04,0.55,0.14
2000-04-30,0.34,0.75,-0.32,0.60,0.67,0.43,2.56,0.49,0.36,1.52,...,0.77,NaN,3.39,-0.05,0.46,0.77,NaN,0.32,0.66,0.29
2000-05-31,-0.10,0.75,-0.29,0.39,0.59,0.48,2.76,0.22,0.11,1.46,...,0.55,NaN,2.33,-0.01,0.44,0.67,NaN,0.39,0.34,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30,-1.08,-1.03,-0.93,-1.05,-1.14,-1.54,-1.30,-1.48,-1.92,-1.77,...,-1.04,-1.35,-1.90,-1.52,-0.89,-1.00,-1.15,-1.35,-0.98,-1.11
2022-10-31,-0.80,-0.97,-0.68,-1.09,-1.27,-1.26,-1.42,-1.44,-1.79,-1.65,...,-0.88,-1.32,-1.65,-1.59,-0.81,-1.01,-0.92,-1.20,-0.80,-0.94
2022-11-30,-0.59,-1.06,-0.61,-1.09,-1.40,-1.00,-1.08,-1.33,-1.29,-0.74,...,-0.76,-1.11,-1.37,-1.48,-0.96,-1.02,-0.79,-1.24,-0.79,-0.94
2022-12-31,-0.63,-1.26,-0.84,-1.20,-1.66,-1.04,-0.86,-1.57,-1.01,-0.03,...,-0.89,-1.20,-1.40,-1.77,-1.29,-1.28,-0.85,-1.40,-0.99,-1.12
2023-01-31,-0.69,-1.28,-0.85,-1.02,-1.67,-1.35,-0.79,-1.58,-0.89,0.40,...,-0.81,-1.00,-1.17,-1.40,-1.25,-1.18,-0.56,-1.12,-0.91,-1.08

# Rentals

In [7]:
rentals = pd.read_csv("Resources/rentals_over_time.csv")
rentals

,Unnamed: 0,index,78739,78748,78749,78745,78744,78735,78704,78741,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
0,0,2015-03-31,NaN,1128.231561,NaN,1065.842515,NaN,NaN,1488.738257,NaN,...,1050.143536,NaN,NaN,NaN,NaN,NaN,1298.037051,1084.332454,NaN,NaN
1,1,2015-04-30,NaN,1136.914112,NaN,1097.610540,NaN,NaN,1480.981293,NaN,...,1038.103066,NaN,NaN,NaN,NaN,NaN,1300.114579,1080.756606,NaN,NaN
2,2,2015-05-31,NaN,1146.573022,NaN,1119.407051,NaN,NaN,1488.485541,NaN,...,1048.472355,NaN,NaN,NaN,NaN,NaN,1316.105448,1091.164773,NaN,NaN
3,3,2015-06-30,NaN,1149.119332,NaN,1131.108759,NaN,NaN,1491.039788,NaN,...,1061.981578,NaN,NaN,NaN,NaN,NaN,1329.469972,1109.328100,NaN,NaN
4,4,2015-07-31,NaN,1149.187263,NaN,1133.466659,NaN,NaN,1510.267406,NaN,...,1088.736494,NaN,NaN,NaN,NaN,NaN,1316.411659,1121.423555,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,90,2022-09-30,3626.360538,1745.039943,1892.973569,1766.425047,1849.211905,1934.683875,2328.180648,1644.408613,...,1650.095162,2263.585202,1865.696287,1925.971713,1566.428494,1835.032160,1892.830633,1629.207661,1792.867036,1836.622493
91,91,2022-10-31,3557.370333,1738.416841,1858.659751,1750.368963,1847.874432,1918.723173,2293.136404,1620.354838,...,1655.946793,2240.619771,1822.243546,1882.234880,1559.793156,1801.138037,1874.655173,1601.088812,1771.693488,1864.844849
92,92,2022-11-30,3532.674405,1711.797659,1827.096319,1728.428728,1808.525613,1899.508021,2258.590038,1603.744370,...,1657.787601,2168.058210,1796.787545,1830.304225,1545.274797,1767.245330,1838.525785,1589.472035,1755.229140,1830.248684
93,93,2022-12-31,NaN,1688.588541,1824.332867,1714.235380,1804.422200,1867.874292,2214.095813,1587.395442,...,1657.660911,2155.718789,1795.603492,1807.519921,1519.325351,1736.352493,1823.927152,1589.409992,1727.688420,1808.962423
94,94,2023-01-31,3210.222222,1665.574074,1826.119048,1703.767779,1791.120635,1848.331790,2201.724947,1573.802443,...,1617.198413,2149.123810,1811.699875,1782.638095,1525.719934,1734.301571,1826.114297,1579.130159,1732.722395,1764.109848

In [9]:
# Grab the columns and dates and store them in separate variables
columns_r = rentals.columns
dates = rentals["index"]

In [12]:
# Make a dictionary of lists
# Pass each zipcode through the check for null functions 
# Then pass each zipcode throught the percentage change function
dict_rentals = {
    x: percent_change(check_for_null(rentals[x])) for x in columns_r[2:]
}

In [13]:
df_rentals_change = pd.DataFrame(dict_rentals)
df_rentals_change

,78739,78748,78749,78745,78744,78735,78704,78741,78733,78746,...,78759,78757,78752,78724,78753,78758,78717,78729,78727,78728
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,NaN,0.77,NaN,2.98,NaN,NaN,-0.52,NaN,NaN,NaN,...,-1.15,NaN,NaN,NaN,NaN,NaN,0.16,-0.33,NaN,NaN
2,NaN,0.85,NaN,1.99,NaN,NaN,0.51,NaN,NaN,NaN,...,1.00,NaN,NaN,NaN,NaN,NaN,1.23,0.96,NaN,NaN
3,NaN,0.22,NaN,1.05,NaN,NaN,0.17,NaN,NaN,NaN,...,1.29,NaN,NaN,NaN,NaN,NaN,1.02,1.66,NaN,NaN
4,NaN,0.01,NaN,0.21,NaN,NaN,1.29,NaN,NaN,NaN,...,2.52,NaN,NaN,NaN,NaN,NaN,-0.98,1.09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,0.03,-0.17,-1.19,-0.70,-0.75,-0.01,0.54,-0.68,NaN,-1.13,...,-0.04,0.76,-0.37,-2.18,0.17,-0.18,-0.63,-0.76,0.14,0.35
91,-1.90,-0.38,-1.81,-0.91,-0.07,-0.82,-1.51,-1.46,NaN,-1.76,...,0.35,-1.01,-2.33,-2.27,-0.42,-1.85,-0.96,-1.73,-1.18,1.54
92,-0.69,-1.53,-1.70,-1.25,-2.13,-1.00,-1.51,-1.03,NaN,-0.57,...,0.11,-3.24,-1.40,-2.76,-0.93,-1.88,-1.93,-0.73,-0.93,-1.86
93,NaN,-1.36,-0.15,-0.82,-0.23,-1.67,-1.97,-1.02,NaN,0.71,...,-0.01,-0.57,-0.07,-1.24,-1.68,-1.75,-0.79,-0.00,-1.57,-1.16
94,NaN,-1.36,0.10,-0.61,-0.74,-1.05,-0.56,-0.86,NaN,0.92,...,-2.44,-0.31,0.90,-1.38,0.42,-0.12,0.12,-0.65,0.29,-2.48